JSIGHT 0.3

POST /users // Create a user
  Request 
    Headers
      {
        "x-custom": "12"
      }
    Body
      @user

  200
    "OK"

TYPE @user
{
  "id": 1,
  "login": "tom",
  "name": "John" // {optional: true}
}